/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */

:root {
    --blue: #0c3559;
    --darkblue: #092640;
    --seablue: #687b8c;
    --lightseablue: #aab9bf;
    --light: #f2f2f2;
  }
  body{
    background-color:var(--darkblue);
    height:100%;
  }
  .custom-navbar {
    background-color: var(--darkblue);
    padding: 2% 0% 2% 0%;
    z-index: 1;
  }

  .custom-navbar h1 {
    font-size: 2.5rem;
    color: var(--lightseablue);
    text-align: center;
    font-family: "Yeseva One";

    
  }
  .custom-navbar a {
    font-size: 1.5rem;
    color: var(--lightseablue);
  }
  
  .custom-navbar a:hover {
    color: var(--light);
  }
  
  .navbar-nav{
    display:flex;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: small;
    flex-direction: row;
    justify-content: center;
  }

  .navbar-nav a{
    padding-left: 2%;
  }
  /* .container{
    font-family: 'Roboto', sans-serif;
    text-align: left;
    padding-left: 4%;
  } */

  .container h1{
    font-family: "Yeseva One";
  }

  .custom-jumbotron {
    background-color: var(--seablue);
    color: var(--darkblue);
    padding: 1% 0% 1% 1%;
    border-bottom: 3px;
    border-top:3px;
    border-style: outset;
    border-color: var(--blue);
    font-size: 1em;
    font-stretch: wider;
  }
  
  .custom-btn {
    background-color: var(--light);
    color: var(--blue);
  }
  
  .custom-btn:hover {
    background-color: var(--darkblue);
    color: var(--light);
  }
  

  
/*Map CSS*/

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        height: 63%;
        width: 60%;
        border: 5px solid var(--blue);
        border-style: outset;
        position:absolute;
      
        margin-left:5px
      }
      
      /* Optional: Makes the sample page fill the window. */
     body {
       height: 10%;
        margin: 0;
        padding: 0;
        width: 100%;
      }
      
      #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
      }
      
      #infowindow-content .title {
        font-weight: bold;
      }
      
      #infowindow-content {
        display: none;
      }
      
      #map #infowindow-content {
        display: inline;
      }
    
      .userDestination-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
      }
      
      #userDestination-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }
      
      .userDestination-controls {
        display: inline-block;
        padding: 5px 11px;
      }
      
      .userDestination-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }
      
      #userDestination-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }
      #userMap{
        color:var(--darkblue);
        font-size: 1em;
        font-weight:5px;
        border: 1px solid var(--blue);
        border-style: outset;
        height:30px;
        width: 200px;
      }
      #userDestination-input:focus {
        border-color: #4d90fe;
      }
      
      #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
      }
      
      #target {
        width: 345px;
      }
      span[style*='top: -999px']{display: none;}
      
      /* forex style */
      /* main{
        display:flex;
      } */
      .forex{
        border: 5px solid var(--blue);
        border-style: outset;
        justify-content:start;
        margin: 0px 5px;
        position:absolute;
        right:1%;
        height: 58%;
        width: 35%;
        padding:5px;
      }
      label{
        color: var(--seablue);
        font-size:1.8em;
      }
      .country{
        color:var(--darkblue);
        font-size: 1em;
        font-weight:5px;
        border: 3px solid var(--blue);
        border-style: outset;
        height:30px;
        width: 200px;
        border-radius: 5px;
        background-color: var(--light);
      }
      
      .to{
        color: var(--seablue);
      }
      #question{
      font-size: 2em;
      color:var(--lightseablue);
      padding:0px;
      margin:5px;
    }
    .question{
      border:none;
      margin: 15px 0px 50px 0px;
    }
    #btn{
      background-color: var(--blue);
      color: var(--lightseablue);
      height:40px;
      width:65px;
    }
    .inline{
      display:inline;
      font-size: 1.8em;
      color:var(--seablue);
      padding:7px;
    }
    #endAmount{
      background-color: var(--light);
    }
    input{
      font-size:1em;
      color:var(--darkblue);
    }
    #conversion{
      font-size:2em;
      color:var(--lightseablue);
      text-align: center;
      margin:30px 0px 0px 0;
    }
    
/* covid 19 */

.embed-responsive-item {
  position: absolute; 
  top:1%;
  padding-bottom:1%; 
  height: 50%; 
  max-width: 100%;
}
.embed-responsive-item iframe, .embed-responsive-item object, .embed-responsive-item iframe{
  position: absolute;
  top: 25%; 
  right:-6px; 
  width: 1700px; 
  height: 600px; 
  margin:8%;
} 

  small{position: absolute; 
    z-index:40; 
    bottom: 0; 
    margin-bottom: -15px;
  }



    /* Media Queries */
    @media screen and (max-width: 1785px){
      .forex{
        border: 5px solid var(--blue);
        border-style: outset;
        margin: 0px 15px;
        height: 400px;
        width: 600px;
        padding:5px;
      }
      #map {
        height: 63%;
        width: 60%;
        border: 5px solid var(--blue);
        border-style: outset;
        margin-left:20px
      }
      .embed-container {
        position: relative; 
        padding-bottom: 80%; 
        height: 0; 
        max-width: 100%;
      }
      .embed-container iframe, .embed-container object, .embed-container iframe{
        position: absolute; 
        top: 25%; 
        right:-28px; 
        width: 1700px; 
        height: 600px; 
        margin:8%;
      } 
      
        small{position: absolute; 
          z-index:40; 
          bottom: 0; 
          margin-bottom: -15px;
        }
    }

    @media screen and (max-width: 1735px){
      .forex{
        border: 5px solid var(--blue);
        border-style: outset;
        margin: 0px 30px 0px 15px;
        height: 400px;
        width: 550px;
        padding:5px;
      }
      #map {
        height: 63%;
        width: 55%;
        border: 5px solid var(--blue);
        border-style: outset;
        margin-left:20px
      }
      .embed-container {
        position: relative; 
        padding-bottom: 80%; 
        height: 0; 
        max-width: 100%;
      }
      .embed-container iframe, .embed-container object, .embed-container iframe{
        position: absolute; 
        top: 25%; 
        right:-4px; 
        width: 1500px; 
        height: 600px; 
        margin:4%;
      } 
      
        small{position: absolute; 
          z-index:40; 
          bottom: 0; 
          margin-bottom: -15px;
        }
    }
    @media screen and (max-width: 1556px){
      
      .embed-container {
        position: relative; 
        padding-bottom: 80%; 
        height: 0; 
        max-width: 100%;
      }
      .embed-container iframe, .embed-container object, .embed-container iframe{
        position: absolute; 
        top: 25%; 
        right:-30px; 
        width: 1300px; 
        height: 600px; 
        margin:8%;
      } 
      
        small{position: absolute; 
          z-index:40; 
          bottom: 0; 
          margin-bottom: -15px;
        }
    }
    @media screen and (max-width: 1360px){
      .forex{
        margin: 0px 20px;
        height: 45%;
        width: 35%;
        padding:5px;
      }
      .inline{
        display:inline;
        font-size: 1em;
        color:var(--seablue);
        padding:0px;
      }
      #endAmount{
        background-color: var(--light);
      }
      input{
        font-size:.8em;
        color:var(--darkblue);
      }
      label{
        color: var(--seablue);
        font-size:1em;
      }
      .country{
        color:var(--darkblue);
        font-size: .8em;
        font-weight:5px;
        border: 3px solid var(--blue);
        border-style: outset;
        height:20px;
        width: 150px;
        border-radius: 5px;
        background-color: var(--light);
      }
      .question{
        margin:10px 0px 20px 0px;
      }
      .custom-jumbotron {
        padding: 5px;
      }
      p.intro{
        padding:5px;
        margin:5px;
      }
      h1{
        padding:5px;
        margin:5px;
      }
      .to{
        margin:2px;
      }
      #map {
        height: 45%;
        width: 55%;
        margin:0px 10px;
      }
      .embed-container {
        position: relative; 
        padding-bottom: 80%; 
        height: 0; 
        max-width: 100%;
      }
      .embed-container iframe, .embed-container object, .embed-container iframe{
        position: absolute; 
        top: 20%; 
        right:-30px; 
        width: 1100px; 
        height: 600px; 
        margin:8%;
      } 
      
        small{position: absolute; 
          z-index:40; 
          bottom: 0; 
          margin-bottom: -15px;
        }
    }

    @media screen and (max-width: 1176px){
      .forex{
        margin: 0px 20px;
        height: 40%;
        width: 40%;
        padding:5px;
      }
      #map {
        height: 45%;
        width: 55%;
      }
      .embed-container {
        position: relative; 
        padding-bottom: 80%; 
        height: 0; 
        max-width: 100%;
      }
      .embed-container iframe, .embed-container object, .embed-container iframe{
        position: absolute; 
        top: 20%; 
        right:-30px; 
        width: 1000px; 
        height: 600px; 
        margin:8%;
      } 
      
        small{position: absolute; 
          z-index:40; 
          bottom: 0; 
          margin-bottom: -15px;
        }
    }

    @media screen and (max-width: 1064px){
      .forex{
        align-self: center;
        height: 250px;
        width: 100%;
        padding:5px;
        text-align: center;
        position:relative;
        top:5%;
        left:1%;
        margin:0px;
      }
      #map {
        height: 50%;
        width: 100%;
        margin:0px;
        position:absolute;
        top:55%;
      }
    
      .inline{
        display:inline;
        font-size: 1em;
        color:var(--seablue);
        padding:0px;
      }
      #endAmount{
        background-color: var(--light);
      }
      input{
        font-size:.8em;
        color:var(--darkblue);
      }
      label{
        color: var(--seablue);
        font-size:1em;
      }
      .country{
        color:var(--darkblue);
        font-size: .8em;
        font-weight:5px;
        border: 3px solid var(--blue);
        border-style: outset;
        height:20px;
        width: 150px;
        border-radius: 5px;
        background-color: var(--light);
      }
      .question{
        margin:10px 0px 20px 0px;
      }
      .custom-jumbotron {
        padding: 5px;
      }
      p.intro{
        padding:5px;
        margin:5px;
      }
      h1{
        padding:5px;
        margin:5px;
      }
      .to{
        margin:2px;
      }
      
      .embed-container iframe, .embed-container object, .embed-container iframe{
        position: absolute; 
        top: 58%; 
        right:-30px; 
        width: 875px; 
        height: 600px; 
        margin:8%;
      } 
      #conversion{
        display:none;
      }
    }
    @media screen and (max-width: 760px){
      .forex{
        align-self: center;
        height: 300px;
        width: 100%;
        padding:5px;
        text-align: center;
      }
      #map {
        height: 50%;
        width: 100%;
        margin:0px;
        position:absolute;
        top:60%;
      }
    }
    @media screen and (max-width: 698px){
      .forex{
        align-self: center;
        height: 300px;
        width: 100%;
        padding:5px;
        text-align: center;
        border: 3px solid var(--blue);
      }
      #map {
        height: 50%;
        width: 100%;
        margin:0px;
        position:absolute;
        top:40%;
      }
      .custom-jumbotron {
        display:none;
      }
      .custom-navbar h1 {
        font-size: 2em;
    }
      .custom-navbar a{
        font-size:1em;
      }
    }

    @media screen and (max-width: 375px){
      .forex{
        align-self: center;
        height: 150px;
        width: 100%;
        padding:5px;
        text-align: center;
        border: 3px solid var(--blue);
      }
      #map {
        height: 50%;
        width: 100%;
        margin:2px;
      }
      .custom-jumbotron {
        display:none;
      }
      .custom-navbar h1 {
        font-size: 1.3em;
    }
      .custom-navbar a{
        font-size:.8em;
      }
      #question{
        font-size: 1em;
      }
      .country{
        width:100px;
        height:15px;
      }
      .to{
        font-size: .8em;
      }
      label{
        font-size: .8em;
      }
      #btn{
        width:100px;
      }
    }

    @media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 480px)
    and (-webkit-min-device-pixel-ratio: 2) {
      .forex{
        align-self: center;
        height: 200px;
        width: 100%;
        padding:5px;
        text-align: center;
        border: 3px solid var(--blue);
        margin:0px;
      }
      #map {
        position:absolute;
        top:52%;
        height: 50%;
        width: 100%;
        align-self: center;
        margin:0px;
      }
      .custom-jumbotron {
        display:none;
      }
      .custom-navbar h1 {
        font-size: 1.3em;
    }
      .custom-navbar a{
        font-size:.8em;
      }
      #question{
        font-size: 1em;
      }
      .country{
        width:100px;
        height:15px;
      }
      .to{
        font-size: .8em;
      }
      label{
        font-size: .8em;
      }
      #btn{
        width:100px;
      }
    }
    @media only screen 
    and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
      .forex{
        align-self: center;
        height: 150px;
        width: 100%;
        padding:5px;
        text-align: center;
        border: 3px solid var(--blue);
        margin:0px;
      }
      #map {
        position:absolute;
        top:400px;
        height: 35%;
        width: 100%;
        align-self: center;
        margin:0px;
      }
      .custom-jumbotron {
        display:none;
      }
      .custom-navbar h1 {
        font-size: .8em;
  }